<div layout="column" layout-fill>

  <md-content>
    <section class="jumbotron">
      <h1>Projeto Sistemas Multimídia</h1>
      <h2><i>Multimedia System's Project</i></h2>
      <h2>Ferramenta EAD/<i>E-Learning Tool</i></h2>
      <p class="lead">
        Aluno Rogério Peixoto
        <br>
        Professor Rafael DiBernardo
      </p>
    </section>

    <md-content class="techs" layout-align="center center" layout-xs="column" layout-gt-xs="row">
      <md-card ng-repeat="media in main.mediaTypes">
        <md-card-content>
          <img class="pull-right" height="140px" ng-src="assets/images/{{ media.logo }}" alt="{{ media.title }}">
          <h3 class="md-title">{{ media.title }}</h3>
          <p>{{ media.description }}</p>
        </md-card-content>
        <br>
        <div class="md-action-buttons">
          <md-button ng-href="{{ media.url }}" ng-click="main.showToastr(media.message)">Ir</md-button>
        </div>
      </md-card>
    </md-content>
  </md-content>

</div>
